In [161]:
import pandas as pd
import numpy as np

### Load the datset into pandas dataframe

In [162]:
survey = pd.read_excel(r'C:\Users\asus\Downloads\Sample Survey.xlsx')

In [163]:
survey.head()

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,gender,assembly_no,category,weight
0,1,2020-08-24,Rural,12th Pass,"₹ 30,000 - ₹ 50,000",BJP,BJP,Fully Dissatisfied,Fully Dissatisfied,26,Male,211,Gen,0.346969
1,2,2020-08-24,Rural,Graduate,"₹ 20,000 - ₹ 30,000",RLSP,JD(U),Somewhat Satisfied,Fully Dissatisfied,34,Male,189,BC,0.603419
2,3,2020-08-24,Rural,Graduate,"₹ 5,000 - ₹ 10,000",JAP(L),BJP,Fully Dissatisfied,Somewhat Satisfied,25,Male,191,Gen,0.673762
3,4,2020-08-24,Urban,Graduate,"₹ 10,000 - ₹ 20,000",RJD,RJD,Fully Dissatisfied,Somewhat Satisfied,36,Male,194,Gen,1.101298
4,5,2020-08-24,Rural,Graduate,"₹ 50,000 - ₹ 80,000",JD(U),Did not vote,Fully Satisfied,Fully Satisfied,22,Male,176,BC,0.333505

### Samples collected on each day

In [164]:
survey['collection_date'].value_counts()

2020-08-24    1479
2020-08-25     998
2020-08-28     761
2020-08-27     665
2020-08-29     620
2020-09-01     607
2020-08-26     598
2020-08-30     582
2020-08-31     557
Name: collection_date, dtype: int64

In [165]:
survey['age'].unique()

array([26, 34, 25, 36, 22, 38, 23, 42, 51, 29, 24, 30, 39, 37, 19, 44, 53,
       32, 21, 18, 20, 27, 48, 28, 45, 74, 35, 31, 70, 40, 49, 46, 43, 41,
       33, 58, '24ko', 56, 50, 55, 54, 62, 60, 59, 47, 61, 52, 66, 57, 67,
       65, 71, 63, 64, 68, 69, 99, 72, 75, 76], dtype=object)

In [166]:
s1 = survey[survey['age'] != '24ko']

In [167]:
s1['age'] = s1['age'].astype('int')

<ipython-input-167-6fd3de972c82>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s1['age'] = s1['age'].astype('int')

In [168]:
s1['age'].dtype

dtype('int32')

### Proportion of the total respondents were aged less than 45

In [169]:
percentage = (s1[s1['age'] < 45]['age'].value_counts().sum())/(s1['age'].value_counts().sum()) *100
percentage

93.18380425284009

In [170]:
age = s1['age'].unique()
age

array([26, 34, 25, 36, 22, 38, 23, 42, 51, 29, 24, 30, 39, 37, 19, 44, 53,
       32, 21, 18, 20, 27, 48, 28, 45, 74, 35, 31, 70, 40, 49, 46, 43, 41,
       33, 58, 56, 50, 55, 54, 62, 60, 59, 47, 61, 52, 66, 57, 67, 65, 71,
       63, 64, 68, 69, 99, 72, 75, 76])

### Creation of Age Range column

In [171]:
bins = [17, 25, 40, 55, 100]
labels = ['18-25', '25-40', '40-55', '55+']
s1['age_range'] = pd.cut(s1['age'], bins, labels = labels, include_lowest=True)

<ipython-input-171-374c51db5921>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s1['age_range'] = pd.cut(s1['age'], bins, labels = labels, include_lowest=True)

In [172]:
s1['age_range']

0       25-40
1       25-40
2       18-25
3       25-40
4       18-25
        ...
6862    18-25
6863    25-40
6864    18-25
6865    18-25
6866    25-40
Name: age_range, Length: 6866, dtype: category
Categories (4, object): [18-25 < 25-40 < 40-55 < 55+]

In [173]:
new = s1[["response_id", "age", "age_range"]].copy()
new

      response_id  age age_range
0               1   26     25-40
1               2   34     25-40
2               3   25     18-25
3               4   36     25-40
4               5   22     18-25
...           ...  ...       ...
6862         6863   25     18-25
6863         6864   30     25-40
6864         6865   20     18-25
6865         6866   23     18-25
6866         6867   33     25-40

[6866 rows x 3 columns]

### Samples collected for each age group

In [174]:
s1['age_range'].value_counts()

25-40    3423
18-25    2691
40-55     644
55+       108
Name: age_range, dtype: int64

### Proportion of the respondents that had opted for the RJD party in both the Vote_Now and the Past_Vote questions

In [175]:
len(s1[(s1['Vote_Now'] == 'RJD') & (s1['Past_Vote'] == 'RJD')])/len(survey) *100

11.810106305519149

In [176]:
s1

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,gender,assembly_no,category,weight,age_range
0,1,2020-08-24,Rural,12th Pass,"₹ 30,000 - ₹ 50,000",BJP,BJP,Fully Dissatisfied,Fully Dissatisfied,26,Male,211,Gen,0.346969,25-40
1,2,2020-08-24,Rural,Graduate,"₹ 20,000 - ₹ 30,000",RLSP,JD(U),Somewhat Satisfied,Fully Dissatisfied,34,Male,189,BC,0.603419,25-40
2,3,2020-08-24,Rural,Graduate,"₹ 5,000 - ₹ 10,000",JAP(L),BJP,Fully Dissatisfied,Somewhat Satisfied,25,Male,191,Gen,0.673762,18-25
3,4,2020-08-24,Urban,Graduate,"₹ 10,000 - ₹ 20,000",RJD,RJD,Fully Dissatisfied,Somewhat Satisfied,36,Male,194,Gen,1.101298,25-40
4,5,2020-08-24,Rural,Graduate,"₹ 50,000 - ₹ 80,000",JD(U),Did not vote,Fully Satisfied,Fully Satisfied,22,Male,176,BC,0.333505,18-25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6862,6863,2020-09-01,Rural,10th Pass,"BPL/Below ₹ 5,000",JD(U),BJP,Fully Satisfied,Fully Dissatisfied,25,Male,166,Gen,0.036329,18-25
6863,6864,2020-09-01,Rural,Graduate,"BPL/Below ₹ 5,000",RJD,RJD,Fully Dissatisfied,Fully Dissatisfied,30,Male,169,BC,0.252780,25-40
6864,6865,2020-09-01,Urban,Graduate,"₹ 5,000 - ₹ 10,000",JAP(L),RJD,Can’t say,Fully Dissatisfied,20,Male,241,Gen,1.812926,18-25
6865,6866,2020-09-01,Rural,Professional Education,"₹ 10,000 - ₹ 20,000",BJP,Did not vote,Fully Satisfied,Somewhat Satisfied,23,Male,243,Gen,0.080137,18-25
6866,6867,2020-09-01,Rural,10th Pass,"₹ 5,000 - ₹ 10,000",JAP(L),JAP(L),Fully Satisfied,Fully Satisfied,33,Male,241,Gen,1.797518,25-40

In [177]:
s1['CM_satisfaction'].unique()

array(['Fully Dissatisfied', 'Somewhat Satisfied', 'Fully Satisfied',
       'Somewhat Dissatisfied', 'Can’t say'], dtype=object)

### For each day of sample collection, the proportion of respondents who were fully satisfied with the performance of the CM

In [178]:
s = s1[s1['CM_satisfaction'] == 'Fully Satisfied']
(s['collection_date'].value_counts())/(s1['collection_date'].value_counts())

2020-08-24    0.098106
2020-08-25    0.095190
2020-08-26    0.098662
2020-08-27    0.081203
2020-08-28    0.120894
2020-08-29    0.117742
2020-08-30    0.111684
2020-08-31    0.111311
2020-09-01    0.123558
Freq: D, Name: collection_date, dtype: float64

### Day-wise proportion of respondents that opted fully dissatisfied with their MLA

In [179]:
s2 = s1[s1['MLA_satisfaction'] == 'Fully Dissatisfied']
(s2['collection_date'].value_counts())/(s1['collection_date'].value_counts())

2020-08-24    0.600135
2020-08-25    0.631263
2020-08-26    0.590301
2020-08-27    0.606015
2020-08-28    0.607096
2020-08-29    0.564516
2020-08-30    0.620275
2020-08-31    0.576302
2020-09-01    0.634267
Freq: D, Name: collection_date, dtype: float64

In [219]:
f = s1[["collection_date", "MLA_satisfaction"]].groupby(by = 'collection_date').count().reset_index()

In [221]:
f1 = s2[["collection_date", "MLA_satisfaction"]].groupby(by = 'collection_date').count().reset_index()

In [222]:
f1

  collection_date  MLA_satisfaction
0      2020-08-24               109
1      2020-08-25                74
2      2020-08-26                42
3      2020-08-27                50
4      2020-08-28                66
5      2020-08-29                44
6      2020-08-30                56
7      2020-08-31                44
8      2020-09-01                40

### Creation of dataframe by performing a groupby over age_range and calculation of the count of total samples under each age group.

In [180]:
g = s1.groupby(by='age_range')
g1 = g.count().reset_index()
g1 = g1.drop(["collection_date", "urban_rural", "education", "income", "Vote_Now", "Past_Vote", "CM_satisfaction", "MLA_satisfaction", "age", "gender", "assembly_no", "category", "weight"], 1)
g1

  age_range  response_id
0     18-25         2691
1     25-40         3423
2     40-55          644
3       55+          108

In [181]:
for group in labels:
    print("Length of group {}: ".format(group))
    print(len(g.get_group(group)))

Length of group 18-25:
2691
Length of group 25-40:
3423
Length of group 40-55:
644
Length of group 55+:
108

### Creation of dataframe by performing a group by over age_range and finding the count of total samples for each age group that opted for the JD(U) party in Vote_Now.

In [182]:
s2 = s1[s1['Vote_Now'] == 'JD(U)']
G = s2.groupby(by = ['age_range']).count().reset_index()
G = G.drop(["collection_date", "urban_rural", "education", "income", "response_id", "Past_Vote", "CM_satisfaction", "MLA_satisfaction", "age", "gender", "assembly_no", "category", "weight"], 1)
G

  age_range  Vote_Now
0     18-25       215
1     25-40       245
2     40-55        55
3       55+        10

### Merge the two dataframes with the common column as age_range.

In [183]:
df = pd.merge(g1, G, on = 'age_range')
df

  age_range  response_id  Vote_Now
0     18-25         2691       215
1     25-40         3423       245
2     40-55          644        55
3       55+          108        10

### Pivot Tables

In [208]:
t = s1.groupby(by=['Vote_Now', 'Past_Vote']).count().reset_index()
t = t.drop(["collection_date", "urban_rural", "education", "income", "age_range", "CM_satisfaction", "MLA_satisfaction", "age", "gender", "assembly_no", "category", "weight"], 1)
t.rename(columns = {'response_id' : 'Count'}, inplace=True)
t.head()

  Vote_Now     Past_Vote  Count
0      AAP           BJP      7
1      AAP  Did not vote      8
2      AAP           HAM      2
3      AAP         JD(U)      6
4      AAP        Others      1

In [211]:
table = pd.pivot_table(data = t, index = ['Past_Vote'], columns = ['Vote_Now'])
table

             Count                                                    \
Vote_Now       AAP AIMIM     BJP  BSP  HAM   INC JAP(L)  JD(U)   LJP
Past_Vote
BJP            7.0   1.0  1630.0  3.0  5.0  42.0  101.0  110.0  44.0
BSP            NaN   1.0     2.0  5.0  NaN   1.0    NaN    NaN   NaN
Did not vote   8.0   5.0   231.0  2.0  1.0  22.0   41.0   69.0  10.0
HAM            2.0   NaN    25.0  NaN  1.0   NaN    3.0    2.0   2.0
INC            NaN   6.0     6.0  NaN  NaN  57.0   10.0    9.0   NaN
JAP(L)         NaN   NaN     4.0  NaN  NaN   NaN   35.0    NaN   NaN
JD(U)          6.0  10.0   254.0  2.0  2.0  45.0   72.0  279.0  29.0
LJP            NaN   NaN    76.0  1.0  NaN   4.0    3.0    6.0   9.0
Left Front     NaN   1.0     2.0  NaN  NaN   1.0    NaN    NaN   NaN
NOTA           NaN   1.0    29.0  1.0  NaN   9.0    7.0    7.0   3.0
Others         1.0   5.0    45.0  1.0  1.0   4.0    7.0    3.0   1.0
RJD            3.0   7.0    46.0  NaN  1.0  31.0   31.0   39.0   4.0
RLSP           NaN   NaN    17.0  NaN  NaN   NaN    3.0    NaN   NaN
VIP            NaN   NaN     NaN  NaN  NaN   NaN    NaN    1.0   NaN

                                                                            \
Vote_Now     Left Front   NOTA Others Plurals    RJD  RJJP  RLSP Undecided
Past_Vote
BJP                13.0  194.0   32.0    87.0  370.0  88.0  24.0      62.0
BSP                 NaN    NaN    NaN     NaN    NaN   NaN   NaN       NaN
Did not vote       16.0   83.0   11.0    51.0  195.0  20.0   3.0      31.0
HAM                 NaN    4.0    NaN     NaN    6.0   4.0   NaN       1.0
INC                 3.0    6.0    3.0     3.0  100.0   1.0   2.0       7.0
JAP(L)              NaN    NaN    1.0     NaN    2.0   NaN   NaN       NaN
JD(U)               9.0   90.0   18.0    43.0  435.0  13.0  25.0      36.0
LJP                 2.0    3.0    NaN     2.0   17.0   1.0   NaN       1.0
Left Front         18.0    1.0    1.0     NaN    4.0   NaN   1.0       NaN
NOTA                5.0   46.0    7.0    11.0   27.0   5.0   4.0       5.0
Others              4.0   10.0    6.0     8.0   21.0   7.0   1.0       6.0
RJD                 9.0   18.0    8.0    10.0  811.0   1.0  10.0      14.0
RLSP                NaN    3.0    NaN     2.0    8.0   2.0  12.0       1.0
VIP                 NaN    NaN    NaN     NaN    NaN   NaN   NaN       NaN


Vote_Now       VIP
Past_Vote
BJP           10.0
BSP            NaN
Did not vote   5.0
HAM            NaN
INC            NaN
JAP(L)         NaN
JD(U)          6.0
LJP            NaN
Left Front     1.0
NOTA           NaN
Others         NaN
RJD            4.0
RLSP           1.0
VIP            1.0

In [215]:
t1 = s1[["Vote_Now", "Past_Vote", "weight"]]
table1 = pd.pivot_table(data = t1, index = ['Past_Vote'], columns = ['Vote_Now'])
table1

                 weight                                                    \
Vote_Now            AAP     AIMIM       BJP       BSP       HAM       INC
Past_Vote
BJP            0.686762  0.349996  0.643769  0.150850  2.034257  1.191798
BSP                 NaN  1.654731  2.587244  6.402055       NaN  2.298223
Did not vote   1.108237  1.075905  0.494389  1.664806  2.497170  1.263240
HAM            0.156304       NaN  1.013955       NaN  1.648856       NaN
INC                 NaN  1.850993  0.273813       NaN       NaN  2.837584
JAP(L)              NaN       NaN  1.628211       NaN       NaN       NaN
JD(U)          2.076203  2.919861  0.615130  5.502951  1.319787  2.040139
LJP                 NaN       NaN  1.118559  2.481377       NaN  5.403346
Left Front          NaN  2.298223  0.104793       NaN       NaN  2.291368
NOTA                NaN  1.061204  0.437429  0.051485       NaN  0.427148
Others        13.661335  4.242541  0.774805  0.684568  1.505864  0.347385
RJD            1.838616  3.449910  0.701850       NaN  0.960400  2.163634
RLSP                NaN       NaN  1.375093       NaN       NaN       NaN
VIP                 NaN       NaN       NaN       NaN       NaN       NaN

                                                                           \
Vote_Now        JAP(L)     JD(U)       LJP Left Front      NOTA    Others
Past_Vote
BJP           0.632004  0.618451  1.039005   0.579800  0.592339  0.274692
BSP                NaN       NaN       NaN        NaN       NaN       NaN
Did not vote  0.642907  0.854833  1.180181   0.815632  0.538858  0.662721
HAM           0.237387  0.503360  1.248212        NaN  0.232246       NaN
INC           1.894260  1.230814       NaN   2.089575  0.999836  0.517346
JAP(L)        1.653606       NaN       NaN        NaN       NaN  3.195682
JD(U)         1.475239  1.787802  1.143038   1.307289  0.678997  1.622004
LJP           2.458649  1.897135  2.985392   0.856226  0.271057       NaN
Left Front         NaN       NaN       NaN   2.460048  0.201455  8.309203
NOTA          1.235063  1.733195  0.451046   0.572717  0.767617  1.942094
Others        0.761984  1.003137  2.481377   1.004288  0.941909  1.372780
RJD           0.924573  1.420145  2.306544   3.933300  1.395204  1.874903
RLSP          1.089752       NaN       NaN        NaN  0.365858       NaN
VIP                NaN  0.333505       NaN        NaN       NaN       NaN


Vote_Now       Plurals       RJD      RJJP      RLSP Undecided       VIP
Past_Vote
BJP           0.574898  0.678238  0.182359  0.779796  0.665919  1.869169
BSP                NaN       NaN       NaN       NaN       NaN       NaN
Did not vote  0.496461  0.891705  0.217492  1.680529  0.710176  2.139310
HAM                NaN  1.285501  0.475787       NaN  0.039564       NaN
INC           0.529509  1.950200  5.340403  0.570149  1.222639       NaN
JAP(L)             NaN  1.082412       NaN       NaN       NaN       NaN
JD(U)         1.050588  1.510702  0.308916  1.775048  1.614940  3.445881
LJP           0.963983  1.808117  0.478933       NaN  1.709409       NaN
Left Front         NaN  1.685070       NaN  0.877960       NaN  3.020887
NOTA          0.334191  0.761188  0.223201  1.125669  0.314062       NaN
Others        0.339386  1.818800  0.250667  3.800565  0.417463       NaN
RJD           1.417966  1.253977  0.085758  1.075215  1.537365  3.290286
RLSP          0.249701  1.868938  0.977831  1.958817  3.524302  8.258391
VIP                NaN       NaN       NaN       NaN       NaN  0.372959